<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ClassMate Pro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Student"
        tools:targetApi="31">
        <activity
            android:name=".Activities.TrackProgress"
            android:exported="false" />
        <activity
            android:name=".Activities.Feedback"
            android:exported="false" />
        <activity
            android:name=".Activities.VoiceYourConcern"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ConcerHub"
            android:exported="false" />
        <activity
            android:name=".Activities.FacultyDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.ParentComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ParentFaculty"
            android:exported="false" />
        <activity
            android:name=".Activities.ParentStudentDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.ParentRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ParentsMainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.parentsLogin"
            android:exported="true" />
        <activity
            android:name=".Activities.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ComplaintReadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompalintActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OpenNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ConferrenceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.JoinClassRoomActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SubjectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MyClassRoom"
            android:exported="false" />
        <activity
            android:name=".Activities.JoinCall"
            android:exported="false" />
        <activity
            android:name=".Activities.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TestMarks"
            android:exported="false" />
        <activity
            android:name=".Activities.CourseDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.SetUpProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Activities.FCMNotificationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>